<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>

    <p>

        {% for item in posts %}
            {% if item.toast and not item.roast %}
                <h3>Toast</h3>
            {% endif %}
            {% if item.roast and not item.toast %}
                <h3>Roast</h3>
            {% endif %}
            <p>{{ item.text }}</p>
            <p>{{ item.likes }}</p>
            <p>{{ item.dislikes }}</p>
            <p>{{ item.time_created }}</p>
        {% endfor %}

        

    </p>
</body>