<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
    <a href="/post/">|Post a Boast or Roast|</a>
    <a href="/score/">|Sort by Score|</a>

    <p>

        {% for item in posts %}
            <p>-------------------------------------------------</p>
            <h4>{{ item.choose }}</h4>
            {% if item.choose == 1 %}
                <h4>Toast</h4>
            {% endif %}
            {% if item.choose == 2 %}
                <h4>Roast</h4>
            {% endif %}
            <p>Post#: {{ item.id }}</p>
            <p>{{ item.text }}</p>
            <p>{{ item.likes | add:"-item.dislikes" }}</p>
            <p>{{ item.likes }}</p>
            <p>{{ item.dislikes }}</p>
            <p>{{ item.time_created }}</p>
            <p> <a href="/like/{{ item.id }}/">Like</a></p>
            <p> <a href="/dislike/{{ item.id }}/">Dislike</a></p>
        {% endfor %}

        
    </p>
</body>