<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
    <button onclick="location.href='/post/'">|Post a Boast or Roast|</button>
    <button onclick="location.href='/score/'">|Sort by Score|</button>
    <button onclick="location.href='/boasts/'">|Boasts|</button>
    <button onclick="location.href='/roasts/'">|Roasts|</button>

    <p>

        {% for item in posts %}
            <p>-------------------------------------------------</p>
            {% if item.choose == True %}
                <h4>Boast</h4>
            {% endif %}
            {% if item.choose == False %}
                <h4>Roast</h4>
            {% endif %}
            <p>{{ item.text }}</p>
            <p>{{ item.score }}</p>
            <p>{{ item.time_created }}</p>
            <p> <button onclick="location.href='/like/{{ item.id }}/'">Like</button></p>
            <p> <button onclick="location.href='/dislike/{{ item.id }}/'">Dislike</button></p>
        {% endfor %}

        
    </p>
</body>