<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
    <button onclick="location.href='/'">|Home|</button>
    <button onclick="location.href='/score/'">|Sort by Score|</button>
    <button onclick="location.href='/boasts/'">|Boasts|</button>
    <button onclick="location.href='/roasts/'">|Roasts|</button>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>

</body>