<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
    <a href="/">|Home|</a>
    <a href="/post/">|Post a Boast or Roast|</a>
    <a href="/boasts/">|Boasts|</a>
    <a href="/roasts/">|Roasts|</a>

    <p>

        {% for item in posts %}
            <p>-------------------------------------------------</p>
            {% if item.choose == True %}
                <h4>Boast</h4>
            {% endif %}
            {% if item.choose == False %}
                <h4>Roast</h4>
            {% endif %}
            <p>{{ item.text }}</p>
            <p>{{ item.score }}</p>
            <p>{{ item.time_created }}</p>
            <p> <a href="/like/{{ item.id }}/">Like</a></p>
            <p> <a href="/dislike/{{ item.id }}/">Dislike</a></p>
        {% endfor %}

        
    </p>
</body>